* {
  text-align: center;
  margin: 0 auto;
}

img {
  width: 50%;
}


ion-card {
  border: 2px solid rgb(7, 104, 15);
  padding: 3rem;
}

.title {
  color: green;
  font-size: 2rem;
}

ion-button {
  margin: 1rem;
}

.special{
  border: 4px solid rgb(253, 187, 4);
}
