<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3>What do you search? Choose!</h3>
  <div>
    <ion-select [(ngModel)]="filterKey" class="form-control">
        <ion-select-option *ngFor="let key of filterKeys" [value]="key">
            {{ key }}
        </ion-select-option>
    </ion-select>
</div>
  <ion-searchbar [(ngModel)]="phrase"></ion-searchbar>
  <ion-button (click)="likedUsers()" [class.special]="likedUsersVar" color="success">Liked users</ion-button>
  <ion-button (click)="allUsers()" [class.special]="allUsersVar" color="success">All Users</ion-button>
  <ion-button (click)="maleUsers()" [class.special]="maleUsersVar" color="success">Male users</ion-button>
  <ion-button (click)="femaleUsers()" [class.special]="femaleUsersVar" color="success">Female users</ion-button>
  <ion-button (click)="interestUsers()" [class.special]="interestUsersVar" color="success">Similar interests users
  </ion-button>
  <ion-button (click)="locationUsers()" [class.special]="locationUsersVar" color="success">Similar location users
  </ion-button>
  
  <div *ngIf="likedUsersVar">
    <ion-title size="large">Liked users</ion-title>
    <ion-list *ngFor="let user of userList$ |async|search:'liked'|slice:1| filter: filterKey: phrase">
      <ion-item>
        <ion-card>
          <app-profile-card [user]="user"></app-profile-card>
          <ion-button (click)="disliked(user)" color="danger">
            <ion-icon name="trash-bin"></ion-icon> Dislike
          </ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="allUsersVar">
    <ion-title size="large">All users</ion-title>
    <ion-list *ngFor="let user of userList$ | async| slice:1|filter: filterKey: phrase">
      <ion-item>
        <ion-card>
          <app-profile-card [user]="user"></app-profile-card>
          <ion-item>
            <ion-label for="like">Do you like? Choose, then save!</ion-label>
            <ion-select placeholder="Select..." id="like" name="like" [(ngModel)]="user.liked" required>
              <ion-select-option value="true">Yes, I like him/her</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button (click)="disliked(user)" color="danger">
            <ion-icon name="trash-bin"></ion-icon> Dislike
          </ion-button>
          <ion-button (click)="liked(user)" color="success">
            <ion-icon *ngIf="!like" name="save"></ion-icon>
            <ion-icon *ngIf="like" name="heart"></ion-icon> Save
          </ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="maleUsersVar">
    <ion-title size="large">Male users</ion-title>
    <ion-list *ngFor="let user of userList$ |async|search:'gender':'male'| filter: filterKey: phrase">
      <ion-item>
        <ion-card>
          <app-profile-card [user]="user"></app-profile-card>
          <ion-item>
            <ion-label for="like">Do you like?</ion-label>
            <ion-select placeholder="Select..." id="like" name="like" [(ngModel)]="user.liked" required>
              <ion-select-option value="true">Yes. I like him/her</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button (click)="disliked(user)" color="danger">
            <ion-icon name="trash-bin"></ion-icon> Dislike
          </ion-button>
          <ion-button (click)="liked(user)" color="success">
            <ion-icon *ngIf="!like" name="save"></ion-icon>
            <ion-icon *ngIf="like" name="heart"></ion-icon> Save
          </ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="femaleUsersVar">
    <ion-title size="large">Female users</ion-title>
    <ion-list *ngFor="let user of userList$ |async|search:'gender':'female'|slice:1| filter: filterKey: phrase">
      <ion-item>
        <ion-card>
          <app-profile-card [user]="user"></app-profile-card>

          <ion-item>
            <ion-label for="like">Do you like?</ion-label>
            <ion-select placeholder="Select..." id="like" name="like" [(ngModel)]="user.liked" required>
              <ion-select-option value="true">Yes, I like him/her</ion-select-option>

            </ion-select>
          </ion-item>

          <ion-button (click)="disliked(user)" color="danger">
            <ion-icon name="trash-bin"></ion-icon> Dislike
          </ion-button>
          <ion-button (click)="liked(user)" color="success">
            <ion-icon *ngIf="!like" name="save"></ion-icon>
            <ion-icon *ngIf="like" name="heart"></ion-icon> Save
          </ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="interestUsersVar">
    <ion-title size="large">Similar interests users</ion-title>
    <ion-list *ngFor="let user of userList$ |async|search:'interests'|slice:1| filter: filterKey: phrase">
      <ion-item>
        <ion-card>
          <app-profile-card [user]="user"></app-profile-card>

          <ion-item>
            <ion-label for="like">Do you like?</ion-label>
            <ion-select placeholder="Select..." id="like" name="like" [(ngModel)]="user.liked" required>
              <ion-select-option value="true">Yes, I like him/her</ion-select-option>

            </ion-select>
          </ion-item>

          <ion-button (click)="disliked(user)" color="danger">
            <ion-icon name="trash-bin"></ion-icon> Dislike
          </ion-button>
          <ion-button (click)="liked(user)" color="success">
            <ion-icon *ngIf="!like" name="save"></ion-icon>
            <ion-icon *ngIf="like" name="heart"></ion-icon> Save
          </ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="locationUsersVar">
    <ion-title size="large">Similar location users</ion-title>
    <ion-list *ngFor="let user of userList$ |async|search:'location'|slice:1| filter: filterKey: phrase">
      <ion-item>
        <ion-card>
          <app-profile-card [user]="user"></app-profile-card>

          <ion-item>
            <ion-label for="like">Do you like?</ion-label>
            <ion-select placeholder="Select..." id="like" name="like" [(ngModel)]="user.liked" required>
              <ion-select-option value="true">Yes, I like him/her</ion-select-option>

            </ion-select>
          </ion-item>

          <ion-button (click)="disliked(user)" color="danger">
            <ion-icon name="trash-bin"></ion-icon> Dislike
          </ion-button>
          <ion-button (click)="liked(user)" color="success">
            <ion-icon *ngIf="!like" name="save"></ion-icon>
            <ion-icon *ngIf="like" name="heart"></ion-icon> Save
          </ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  <!-- <app-explore-container name="Home"></app-explore-container> -->
</ion-content>